* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* carousel */
.carousel-item {
  background-size: cover;
  height: 400px;
  text-align: center;
}

.carousel-item.item1 {
  background-image: url('images/guitar.jpg');
  background-position: left center;
}

.carousel-item.item2 {
  background-image: url('images/makeup.jpg');
  background-position: center top;
}

.carousel-item.item3 {
  background-image: url('images/cooking.jpg');
  background-position: center;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.intro {
  display: inline-block;
  vertical-align: middle;
}

.intro h2{
  font-size: 32px;
  font-weight: 300;
  color: white;
  margin-bottom: 18px;
}

.intro h3 {
  font-size: 22px;
  font-weight: 300;
  color: white;
  margin-bottom: 48px;
}

.intro a {
  background-color: #5900E7;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 2px;
  color: white;
}

.intro a:hover {
  text-decoration: none;
}


/* main */
.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.course {
  display: block;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
  margin-bottom: 20px;
}

.course:hover {
  text-decoration: none;
}

.course .info {
  padding: 10px;
}

.course .info h4 {
  font-size: 18px;
  color: #4A4A4A;
  margin-bottom: 10px;
}

.course .info .lecturer {
  font-size: 13px;
  color: #4A4A4A;
}

.course .info .lecturer img,
.course .info .lecturer .name {
  vertical-align: middle;
}